{% extends 'cards/base.html' %}

{% block title %}
Действия с записью
{% endblock %}

{% block content %}
<h2>Действия с записью</h2>
{% if a %}

    <h2>{{ a.note }} | {{ i.price }} | {{ a.company }}</h2>

        <img src="{{ a.image.url }}" style="max-height:500px">
        <img src="{{ a.image_1.url }}" style="max-height:500px">
        <img src="{{ a.image_2.url }}" style="max-height:500px">
    {% if a.image_3 %}
        <img src="{{ a.image_3.url }}" style="max-height:500px">
    {% endif %}
{% endif %}
{% if b %}

    <h1>{{ b }}</h1>

{% endif %}
{% if c %}

    <h1>{{ c }}</h1>

{% endif %}


<form method="post">
     {%  csrf_token %}
    <div>
        <p><input  type="text" placeholder="новое описание" name="note_1"></p>
        <p><input  type="text" placeholder="новая цена" name="cost"></p>
        <input type="submit" value="Удалить запись" name="delete">
        <input type="submit" value="Внести исправления" name="delete">

    </div>
</form>


{% endblock %}
