{% extends 'cards/base.html' %}

{% block title %}
Действия с записью
{% endblock %}

{% block content %}
<h2>Действия с записью</h2>
{% if a %}

    <h3> R {{ a.radius }} | {{ a.shirina }} / {{ a.visota }} |
        {{ a.mark }} | {{ a.note }} | {{ a.cost }}</h3>
    {% if a.image %}
        <img src="{{ a.image.url }}" style="max-height:200px">
    {% endif %}
{% endif %}
{% if b %}

    <h1>{{ b }}</h1>

{% endif %}
{% if c %}

    <h1>{{ c }}</h1>

{% endif %}


<form method="post">
     {%  csrf_token %}
    <div>
        <p><input  type="text" placeholder="новое описание" name="note_1"></p>
        <p><input  type="text" placeholder="новая цена" name="cost"></p>
        <input type="submit" value="Удалить запись" name="delete">
        <input type="submit" value="Внести исправления" name="delete">

    </div>
</form>


{% endblock %}
