{% extends 'cards/base.html' %}

{% block title %}
Добавить карту
{% endblock %}

{% block content %}
<h1>Добавление новых шин</h1>
<form method="post" enctype="multipart/form-data">

    {%  csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Сохранить данные">

</form>
{% if img_obj %}

    <img src="{{ img_obj.image.url}}" style="max-height:200px">
{% endif %}


{% if a %}
    <h3> R {{ a.radius }} | {{ a.shirina }} / {{ a.visota }} |
        {{ a.mark }} | {{ a.note }}</h3>
    <h2>Данные сохранены</h2>

{% endif %}

{% endblock %}