<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <h3>
        <a href="{% url 'main page' %}" type="submit">Главная страница</a>-----
        <a href="{% url 'search' %}" type="submit">Поиск шин</a>-----
        <a href="{% url 'report' %}" type="submit">Отчеты</a>---------
        <a href="{% url 'ubdate' %}" type="submit">Обновить базу</a> (примерно 4 мин ожидания)
    </h3>
    <title>{% block title %}
    {% endblock %}</title>
</head>
<body>
{% block content %}

{% endblock %}

</body>
</html>