{% extends 'cards/base.html' %}

{% block title %}
Генератор карт
{% endblock %}

{% block content %}

<h1>Добавление партии карт</h1>

    <form method="post">
         {%  csrf_token %}
    <h4>
        <input type="number" placeholder="Сколько карт?" name="Количество">
    <p>Какой срок действия</p>
        <input type="radio"  name="Срок" value="r_1"> 1 год
        <input type="radio"  name="Срок" value="r_2"> 6 мес
        <input type="radio"  name="Срок" value="r_3"> 1 мес<Br>
         <input type="text" placeholder="Введите серию" name="Серия"><Br>
        <p>****************</p>
 <input type="submit" value="Сгенерировать">

    </h4>
    </form>
{% if a %}

        <h3>Карты созданы<Br>
            Последний номер  {{ a.number }}
        </h3>

{% endif %}

{% endblock %}