{% extends 'cards/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}

<h1>Склад-магазин б/у шин.    г. Минск.</h1>
<H3>Здесь можно посмотреть наличие и цену интересующих вас шин. Обновление каждый день.
    При покупке шин, на шиномонтаж скидка 30%</H3>

<h2>

    <a href="{% url 'search' %}" type="submit">Найти шины</a>
</h2>
{% if a %}
<h3>Текущее время: {{ a }}</h3>
{% endif %}
{% if tims %}
    {% for i in tims %}
<h3>Время последнего обновления: {{ i.time1 }}</h3>
    {% endfor %}
{% endif %}

<img src="/media/1046506409.jpg" height="150px">
<img src="/media/5588884675.jpg" height="150px">
<img src="/media/5027452130.jpg" height="150px">
<img src="/media/5569102827.jpg" height="150px">
<img src="/media/4973868502_1.jpg" height="150px">
<img src="/media/6419246244.jpg" height="150px">

{% endblock %}